<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <h1>Mountain Shop</h1>
        <nav class="nav-links">
           <a href="../index.html" target="_blank">Inicio</a>
           <a href="views/productos.html" target="_blank">Productos</a>
           <a href="#">Acerca de</a>
           <a href="#">Contacto</a>
        </nav>
    </header>

    <h2>Productos</h2>

    <footer>
        <p>&copy; Todos los derechos Reservados</p>
    </footer>
</body>
</html>